<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.staticfile.org/vue/2.5.17-beta.0/vue.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.js"></script>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <title>Title</title>
    <style>
        li{
        border: 1px dashed #999;
        margin: 5px; /*边距 */
        line-height: 35px;
        padding-left: 5px;
        font-size: 12px;
        width: 100%;
    }
    .a-enter,.a-leave-to{
        opacity: 0;
        transform: translateX(180px)
    }
    .a-enter-active,.a-leave-active{
        transition:all 1.8s ease; 
    } 
    li:hover{
        background-color: hotpink;
        transition: all 0.8s ease;
    }
    .a-move{
        transition: all 1.8s ease
    }
    .a-leave-active{
        position: absolute;
    }

    </style>
</head>





<body>
    <div id="app">


        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加</h3>
            </div>
            <div class="panel-body form-inline">
                <label>
                    名字:
                    <!-- 按键修饰符  按下 回车键调用指定函数 -->
                    <input type="text" v-model="name" class="form-control">
                </label>
                <!-- 在vue中 使用事件绑定机制 为元素指定处理函数时 加（） 可以传参 -->
                <input type="button" value="添加" class="btn btn-primary" @click="add">

            </div>
        </div>

        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>名字</th>
                    <th>添加时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>

                <tr v-for="item in list" :key="item.id">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.ctime}}</td>
                    <td><a href="#" @click.prevent="del(item.id)">删除</a></td>
                </tr>

            </tbody>
        </table>


        <!-- 
                在实现列表过度的时候，如果需要过度的元素 是v-for 循环渲染出来的 不能使用transition包裹
            需要使用transtion-Group 
                如果要为v-for循环创建的元素设置动画，必须为每个元素 设置 key属性
                给transition-group添加appear属性   实现页面刚展示出来的时候 入场时候的效果
                通过为transition-group元素 设置tag属性 指定 渲染为指定的元素，如果不指定 tag属性  默认渲染为span标签
        -->

        <ul>
            <transition-group appear tag="ul"name="a">
                <li v-for="item in list" :key="item.id">{{item.id}}---{{item.name}}</li>
            </transition-group>
        </ul>









    </div>



    <script>
        //如果 我们通过全局配置了，请求的数据接口 根域名，则在每次单独发起http请求的时候 请求的URL路径 应该以相对路径开头 前面不能带/ 否则不会启用根路径拼接
        Vue.http.options.root = 'http://www.liulongbin.top:3005/';
        Vue.http.options.emulateJSON = true;//全局启用emulateJSON选项
        var vm = new Vue({
            el: '#app',
            data: {
                name: '',
                list: [],//存放所有品牌列表的数组
            },
            created() {//当vm实例的data 和 methods 初始化完毕后，vm实例会自动执行created这个生命周期函数
                this.getAllLiet();
            },
            methods: {
                getAllLiet() {//获取所有车的品牌列表
                    //分析：
                    //1.由于已经导入vue-resource这个包,可以直接通过this.$http来发起数据请求
                    //2.根据接口API文档   知道  获取列表的时候 应该发起get请求
                    //3.this.$http.get('url').then(function(result){})
                    //4.当通过then指定回调函数之后，在回调函数中，可以拿到数据服务器返回的result
                    //5.先判断result.status是否等于0，如果等于0，就成功了，可以把result.message赋值给this.list  如果不等于0 可以弹框提醒获取失败
                    this.$http.get('api/getprodlist').then(result => {
                        if (result.body.status == 0) {
                            this.list = result.body.message;
                        } else {
                            alert('获取失败');
                            console.log(result)
                        }
                    })
                },
                // add(){//添加品牌列表到后台服务器
                //     //分析：
                //     //1.发送post请求  this.$http.post
                //     //2.this.$http.post('请求的url',{要提交给服务器的数据（以对象形式name：this.name）},{配置对象（以哪种表单类型提交 emulateJSON:true）}).then(result=>{})
                //     //3.在post方法中 使用.then 来设置成功的回调函数，如果要拿成功的结果 需要在result.body
                //     this.$http.post('api/addproduct',{name:this.name},{emulateJSON:true})
                //     .then(result=>{
                //         if(result.body.status == 0){
                //             //添加完成后 只需要手动调用一下 getAllLiet() 就能刷新品牌列表了
                //             this.getAllLiet();
                //             this.name='';
                //         }else{
                //             alert('添加失败');
                //         }
                //     })
                // },
                add() {//添加品牌列表到后台服务器
                    //分析：
                    //1.发送post请求  this.$http.post
                    //2.this.$http.post('请求的url',{要提交给服务器的数据（以对象形式name：this.name）},{配置对象（以哪种表单类型提交 emulateJSON:true）}).then(result=>{})
                    //3.在post方法中 使用.then 来设置成功的回调函数，如果要拿成功的结果 需要在result.body
                    this.$http.post('api/addproduct', { name: this.name }).then(result => {
                        if (result.body.status == 0) {
                            //添加完成后 只需要手动调用一下 getAllLiet() 就能刷新品牌列表了
                            this.getAllLiet();
                            this.name = '';
                        } else {
                            alert('添加失败');
                        }
                    })
                },
                del(id) {//删除品牌
                    this.$http.get('api/delproduct/' + id).then(result => {
                        if (result.body.status == 0) {
                            this.getAllLiet();
                        } else {
                            alert('删除失败');
                        }
                    });
                },

            },
        });
    </script>
</body>

</html>